---
// Librerías
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";

// Datos
import { testimonios } from "../../data/testimonials";

// Filtrar testimonios correspondientes
const testimonioHero = testimonios.filter(
  (testimonio) =>
    testimonio.pagina === "inicio" && testimonio.seccion === "hero",
);

interface Props {
  classes?: string;
}

const { classes } = Astro.props;
---

<div
  class={twMerge(
    "max-w-ld rounded-lg border border-skin-base-shade bg-skin-fill p-6 dark:border-skin-base-shade-dark dark:bg-skin-fill-shade-dark",
    classes,
  )}
>
  {
    testimonioHero.map((testimonio) => (
      <blockquote class="flex items-start gap-4 sm:gap-6">
        <Image
          src={testimonio.foto.src}
          alt={testimonio.foto.alt}
          width={45}
          height={45}
          quality="low"
          class="hidden rounded-full border border-slate-200 lg:block"
        />
        <div>
          <p class="mb-4 max-w-sm">"{testimonio.descripcion}"</p>
          <cite class="text-sm text-skin-hdng-base dark:text-skin-hdng-base-dark">
            {testimonio.nombre}, {testimonio.ocupacion}
          </cite>
        </div>
      </blockquote>
    ))
  }
</div>
