---
// Types
import type { GetStaticPaths } from "astro";

// Librerías
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// Componentes
import Heading from "../components/elements/Heading.astro";

// Utilidades
import { slugify } from "../utils/utils";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("blog");
  return allPosts.map((post) => {
    return {
      params: { categoria: slugify(post.data.category) },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

const { categoria } = Astro.params;
const { post } = Astro.props;

// Filtrar posts draft=true, no futuros y posts correspondientes a cada categoría
const publishedBlogPosts = await getCollection(
  "blog",
  ({ data }) =>
    !data.draft &&
    data.publishDate < new Date() &&
    slugify(data.category) === categoria,
);

// Ordenar posts por fecha
publishedBlogPosts.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<MainLayout
  title={post.data.category}
  description="Categorías de los artículos"
>
  <Heading tagType="h1" hClass="h1">
    {post.data.category}
  </Heading>
  <section class="container mx-auto px-4 sm:px-6">
    <div
      class="grid items-stretch gap-4 sm:grid-cols-1 sm:gap-6 md:grid-cols-2 lg:grid-cols-3"
    >
      {
        publishedBlogPosts.map((post) => (
          <div class="relative">
            <div class="aspect-square">
              <Image
                src={post.data.image.src}
                alt={post.data.image.alt}
                format="avif"
                quality={"low"}
                class="aspect-square object-cover"
              />
            </div>
            <div class="absolute left-[5%] right-[5%] top-1/2 space-y-4 bg-skin-fill-shade p-2 dark:bg-skin-fill-shade-dark sm:p-4 md:p-6 lg:p-8">
              <Heading tagType="h3" hClass="h3">
                {post.data.title}
              </Heading>
              <p set:html={post.data.snippet.slice(0, 100)} />
            </div>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>
