---
// Librerias
import { Image } from "astro:assets";

// Componentes
import Heading from "./elements/Heading.astro";
import TestimonioCard from "./hero/TestimonioCard.astro";
import Section from "./elements/Section.astro";

// Data
import { testimonios } from "../data/testimonials";

// Filtrar testimonios correspondientes
const testimoniosInicio = testimonios.filter(
  (testimonio) =>
    testimonio.pagina === "inicio" && testimonio.seccion === "testimonios",
);
---

<Section classes="max-w-3xl">
  <TestimonioCard classes="mx-auto mb-16 sm:mb-24 md:hidden max-w-md" />
  <Heading tagType="h2" hClass="h2" classes="mb-28 sm:mb-40">
    Lo que otros opinan
  </Heading>
  {
    testimoniosInicio.map((testimonio) => (
      <div class="border-skin-base dark:border-skin-base-dark relative mb-24 flex flex-col items-center gap-8 rounded-lg border px-4 pb-8 text-center last:mb-0 sm:mb-48 sm:px-12">
        <Image
          src={testimonio.foto.src}
          alt={testimonio.foto.alt}
          format="avif"
          quality="mid"
          class="border-skin-base dark:border-skin-base-dark absolute h-24 w-24 -translate-y-1/2 rounded-full border object-cover sm:h-36 sm:w-36"
        />
        <p class="mt-20 max-w-xl font-sans text-2xl sm:mt-32 sm:text-3xl">
          {testimonio.descripcion}
        </p>
        <p>
          <span class="font-bold text-skin-accent">{testimonio.nombre}</span> ∙
          {testimonio.ocupacion}
        </p>
      </div>
    ))
  }

</Section>
