---
// Types
import type { CollectionEntry } from "astro:content";

// Librerías
import { Image } from "astro:assets";
import { format } from "date-fns";

// Componentes
import Heading from "../elements/Heading.astro";
import Link from "../elements/Link.astro";

// Utilidades
import { slugify } from "../../utils/utils";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<article
  class="mx-auto max-w-3xl space-y-6 border-b border-skin-base-shade pb-12 dark:border-skin-base-shade-dark sm:pb-16"
>
  <a href={`/${slugify(post.data.category)}/${post.slug}/`}>
    <Heading tagType="h2" hClass="h2" classes="text-left">
      {post.data.title}
    </Heading>
  </a>
  <p class="text-sm text-slate-400">
    Por: {post.data.author} &bull; Actualizado: <time
      >{format(new Date(post.data.updateDate), "d/MMM/yyyy")}</time
    >
  </p>
  <div>
    <div class="relative mx-auto aspect-video max-w-2xl">
      <a href={`/${slugify(post.data.category)}/${post.slug}/`}>
        <Image
          src={post.data.image.src}
          alt={post.data.image.alt}
          width={672}
          format="avif"
          quality="low"
          class="aspect-video rounded-lg object-cover shadow-lg"
        />
      </a>
      <Link
        href={`/${slugify(post.data.category)}/`}
        class="absolute bottom-0 left-0 rounded-bl-lg rounded-br-none rounded-tl-none rounded-tr-lg bg-skin-fill-very-dark py-1 text-sm capitalize"
      >
        {post.data.category}
      </Link>
    </div>
  </div>
  <div class="space-y-4">
    <Fragment set:html={post.data.snippet} />
  </div>
  <div class="pt-4">
    <Link
      class="min-w-fit"
      href={`/${slugify(post.data.category)}/${post.slug}/`}
    >
      Seguir leyendo...
    </Link>
  </div>
</article>
