---
// Librerías
import { twMerge } from "tailwind-merge";

interface Props {
  text: string;
  email: string;
  password: string;
  classes?: string;
  errors: Record<string, string>;
}

const { classes, text, errors, email, password } = Astro.props;
---

<section class={twMerge(classes)}>
  <div
    class="mx-auto max-w-xl space-y-8 rounded-lg border border-skin-base bg-skin-fill-shade p-4 dark:border-skin-base-dark dark:bg-skin-fill-dark sm:p-8"
  >
    <form method="POST" class="mx-auto max-w-xl space-y-4">
      <div class="space-y-1">
        <label for="email" class="ml-1 text-lg font-semibold"
          >Correo electrónico:</label
        >
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Tu correo electrónico"
          class="-mr-3 w-full rounded-lg border-skin-base px-3 py-4 placeholder:font-light placeholder:text-skin-base-dark dark:border-skin-base-dark dark:bg-skin-fill-shade-dark"
          value={email}
        /><div class="h-4">
          {
            errors.email && (
              <p class="pl-1 text-sm font-semibold text-red-600">
                {errors.email}
              </p>
            )
          }
        </div>
      </div>
      <div class="space-y-1">
        <label for="password" class="ml-1 text-lg font-semibold"
          >Contraseña:</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Elige tu contraseña"
          class="-mr-3 w-full rounded-lg border-skin-base px-3 py-4 placeholder:font-light placeholder:text-skin-base-dark dark:border-skin-base-dark dark:bg-skin-fill-shade-dark"
          value={password}
        />
        <div class="h-8">
          {
            errors.password && (
              <p class="pl-1 text-sm font-semibold text-red-600">
                {errors.password}
              </p>
            )
          }
        </div>
      </div>
      <button
        type="submit"
        class="w-full rounded-lg bg-skin-accent px-12 py-4 text-lg font-bold tracking-wider text-white transition hover:bg-skin-accent-hvr sm:w-1/2"
        >{text}</button
      >
    </form>
    <p class="mx-auto mt-8 max-w-xl">
      ¿No tienes una cuenta todavía? <a
        href="/crear-cuenta"
        class="font-semibold underline"
      >
        Crea una</a
      >.
    </p>
  </div>
</section>
